* {
    box-sizing: border-box;
}
nav{
    background-color: black;
    text-align: center;
    list-style-type: none;
    overflow:hidden;
    width: 100%;
}
a{
    float: left;
    color:white;
    text-decoration: none;
    display: relative;
    padding: 16px;
    width: 25%;
    text-align: center;
    
}
a:hover{
    color:aquamarine;
}
img{
    float:right;
    height: 700px;
    width: 400px;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
    text-align: center;
    padding:10px;
}
