/*Mobile, Portrait*/
@media only screen 
     and(min-width: 375px) 
    and (max-width: 415p)
    and (orientation: portrait){
      
} 


/*Mobile, Landscape*/
@media only screen 
    and(min-width: 375px) 
    and (max-width: 415p)
    and (orientation: landscape){
    
} 


* {
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color:#6b9ab2;
}
nav{
    background-color: black;
    text-align: center;
    list-style-type: none;
    overflow:hidden;
    width: 100%;
}
a{
    float: left;
    color:white;
    text-decoration: none;
    display: relative;
    padding: 16px;
    width: 25%;
    text-align: center;
    vertical-align: middle;
}

nav a p {
    float: left;
    margin-left: 5%;
}

nav a i {
    float: left;
    padding-top: 4%;
    padding-bottom: auto;
}

#oof {
    padding-top: 5%;
}

a:hover{
    color:aquamarine;
}

#information{
    background: rgba(0, 0, 0, 0.12);
    background-clip: content-box;
    width:62%;
    height:60em;
    border-style: solid;
    border: 10px solid rgba(0, 0, 0, 0.12);
    float:left;
}

img{
    margin: 70px;
    float:left;
    height: 900px;
    width: 370px;
}
h1{
font-family: 'Libre Baskerville', serif;
}

.pic{
    border:soild;
    width: 282px;
    height: 200px;
    margin-right:5px;
    float: left;
}
