* {
    box-sizing: border-box;
}
body{
    max-width:100%; 
    background-image: url(https://images.unsplash.com/photo-1483995639460-612cea464dbc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b19eb26467dfcba35eb80ffbbce51c2d&auto=format&fit=crop&w=634&q=80);
    background-repeat: no repeat;
}

nav{
    background-color: black;
    text-align: center;
    list-style-type: none;
    overflow:hidden;
    width: 100%;
}
a{
    float: left;
    color:white;
    text-decoration: none;
    display: relative;
    padding: 16px;
    width: 25%;
    text-align: center;
    vertical-align: middle;
}

nav a p {
    float: left;
    margin-left: 5%;
}

nav a i {
    float: left;
    padding-top: 4%;
    padding-bottom: auto;
}

#oof {
    padding-top: 5%;
}

a:hover{
    color:aquamarine;
}

iframe {
  width: 50%;
}

#Words{
  text-align: center;
    }

h1{
    text-align:center;
}

iframe {
  width: 50%;
}

#Words{
  align-text: center;
    }
form{
    margin-left: 45%;
}

