/*Mobile* iphone X*/
@media only screen and(max-width: px) and (min-width: px) and (orientation: landscape){
} 


/*Mobile* iphone 6/7/8 Plus*/
@media only screen and(max-width: px) and (min-width: px) and (orientation: landscape){
} 




/*Mobile* iphone 6/7/8*/
@media only screen and(max-width: px) and (min-width: px) and (orientation: landscape){
} 



/*Mobile* Galaxy S5*/
@media only screen and(max-width: px) and (min-width: px) and (orientation: landscape){
} 



/*Mobile* Pixel 2*/
@media only screen and(max-width: px) and (min-width: px) and (orientation: landscape){
} 


/*Mobile* Pixel 2 XL*/
@media only screen and(max-width: px) and (min-width: px) and (orientation: landscape){
} 


* {
    box-sizing: border-box;
}
body{
    max-width:100%; 
    background-image: url(https://images.unsplash.com/photo-1494391588032-22cd44f466ef?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6ed3d3bc66e02783acbd5196c326380b&auto=format&fit=crop&w=1047&q=80);
    background-repeat: no-repeat;
    background-position:center;
}

nav{
    background-color: black;
    text-align: center;
    list-style-type: none;
    overflow:hidden;
    width: 100%;
}
a{
    float: left;
    color:white;
    text-decoration: none;
    display: relative;
    padding: 16px;
    width: 25%;
    text-align: center;
    vertical-align: middle;
}

nav a p {
    float: left;
    margin-left: 5%;
}

nav a i {
    float: left;
    padding-top: 4%;
    padding-bottom: auto;
}

#oof {
    padding-top: 5%;
}

a:hover{
    color:aquamarine;
}

iframe {
  width: 50%;
}

#Words{
  text-align: center;
   font-size: 25px;
    }

h1{
    text-align:center;
    font-family: 'Libre Baskerville', serif;
}

iframe {
  width: 50%;
}

#Words{
  align-text: center;
    }
form{
    margin-left: 45%;
}
p{
font-size:15px;
}

