
h2{
font-family: 'Old Standard TT', serif;
}
body{
    width:50%;
    padding:4em;
    border:20px; 
    border-style: solid;
    border-color:palegoldenrod;
    margin:10em;
    background-image: url(https://photos.smugmug.com/Coastline-water-photography/i-Qn76SSG/1/75d9f4b8/L/DSC_4438-L.jpg);
    background-size:100%;
}

