
h2{
font-family: 'Old Standard TT', serif;
}
body{
    width:50%;
    padding:4em;
    border:20px; 
    border-style: solid;
    background-color:white;
    border-color:white;
    margin:10em;
    background-image: url(https://images.unsplash.com/photo-1521453510357-5c7a77db7074?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=490f49b26c354f4acd914f1a30d436ea&auto=format&fit=crop&w=975&q=80);
    background-size:100%;
}

@media all and(orientation:landscape){
}

    

