
h2{
font-family: 'Old Standard TT', serif;
}
body{
    width:50%;
    padding:4em;
    border:20px; 
    border-style: solid;
    border-color:palegoldenrod;
    margin:10em;
    background-image: url(https://static1.squarespace.com/static/509fcdf4e4b046b429519b35/50a1d39ae4b081ffff7d0676/50a435a9e4b0dbacef163917/1352938955526/ocean_bwlightrays1_site.jpg);
    background-size:100%;
}

