/*Mobile* iphone X*/
@media only screen 
    and(max-width:375 px)
    and (min-width: px) 
    and (orientation: landscape){
} 


/*Mobile* iphone 6/7/8 Plus*/
@media only screen 
    and(max-width: px) 
    and (min-width: px) 
    and (orientation: landscape){
} 


/*Mobile* iphone 6/7/8*/
@media only screen 
    and(max-width: px) 
    and (min-width: px) 
    and (orientation: landscape){
} 


/*Mobile* Galaxy S5*/
@media only screen 
    and(max-width: px) 
    and (min-width: px) 
    and (orientation: landscape){
} 


/*Mobile* Pixel 2*/
@media only screen 
    and(max-width: px) 
    and (min-width: px) 
    and (orientation: landscape){
} 


/*Mobile* Pixel 2 XL*/
@media only screen 
    and(max-width: px) 
    and (min-width: px) 
    and (orientation: landscape){
} 

* {
    box-sizing: border-box;
}

nav{
    background-color: black;
    text-align: center;
    list-style-type: none;
    overflow:hidden;
    width: 100%;
}
a{
    float: left;
    color:white;
    text-decoration: none;
    display: relative;
    padding: 16px;
    width: 25%;
    text-align: center;
    vertical-align: middle;
}

nav a p {
    float: left;
    margin-left: 5%;
}

nav a i {
    float: left;
    padding-top: 4%;
    padding-bottom: auto;
}

#oof {
    padding-top: 5%;
}

a:hover{
    color:aquamarine;
}

.column {
    float:left;
    width: 49.33%;
    padding: 22px;
    height: 400px; 
}

h2{
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}

#line{
    border: 1px solid black;
    border-color: solid black;
    border-radius: 2px;
    background: black;
    display: block;
    height: 1000px;
    width: 1%;
    float: left;
}
 
img{
    width:500px;
    height:250px;
}
h3{
font-family: 'Libre Baskerville', serif;
    
}
body{
 background-color:#6b9ab2;
}

#Source{
    
    font-size: 4px;
       
}
#logo{
    height:300%;
    width:300%;
}
